


<header class="navbar-fixed-top">
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <div class="container">
      <div class="brand-container">
        <a class="navbar-brand" href="/polls">decisionMAKER</a>
      </div>

      <div class="auth-container">
        <% if (userEmail !== null) { %>
          <div class="user-info">
            Logged in as: <%= userEmail %>
          </div>
          <div class="logout-button">
            <form action="/logout" method="POST" style="display: inline;">
              <button type="submit" class="btn btn-primary">Logout</button>
            </form>
          </div>
          <div class="logout-button">
            <form action="/admin" method="GET" style="display: inline;">
              <button type="submit" class="btn btn-primary">Admin</button>
            </form>
          </div>
        <% } else { %>
          <div class="auth-buttons">
            <a href="/" class="btn btn-primary">Log In</a>
            <a href="/register" class="btn btn-secondary">Register</a>
          </div>

          <script>
            const isUserSignedIn = <%= userEmail !== null %>;


            if (!isUserSignedIn) {
              alert('You are not signed in. Please sign in or register.');
              window.location.href = '/';
            }


          </script>
        <% } %>
      </div>
    </div>
  </nav>
</header>
