<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>decisionMAKER... Admin Page</title>
</head>
<body>
  <header>
    <h1>Admin Page</h1>
    <h2>Logged in as: <script src="public/scripts/adminID.js"></script></h2>
  </header>


  <main>
    <section id="pollDetails">
      <!-- Dynamic display of poll information -input by the the creator of the poll -->
      <h2>Poll Name</h2>
      <p>Poll Title: <span id="pollTitle">Your Poll Title</span></p>
      <p>Poll ID: <span id="pollId">Your Poll ID</span></p>
      <p>End Time: <span id="endTime">End Time of Poll</span></p>
    </section>

    <section id="pollOptions">
      <h2>Poll Options</h2>
      <ul id="optionsList">
        <!-- Dynamic display of poll options as tallys are calculated -->
      </ul>
    </section>

    <section id="pollManagement">
      <h2>Poll Management</h2>
      <button id="deletePoll">Delete Poll</button>
      <button id="extendPoll">Extend Poll Time</button>
      <button id="endPoll">End Poll Immediately</button>
      <button id="addUser">Add User to Vote</button>
    </section>
  </main>

  <script>
    // Add JavaScript logic to dynamically update poll details, options, and interact with poll management features.
  </script>
</body>
</html>
