<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous"
/>

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>

  <title>Make the right decision...</title>
</head>
<body>
  <%- include('partials/_header') %>

  <h2>Create your own</h2>
  <h1>decisionMAKER</h1>

  <div>
    <label>Fill out below</label>
  </div><br>
  <form id="decisionForm" action="/create/generate" method="post" onsubmit="return validateForm()">
    <div>
      <div class="subheading">Poll Name</div>

      <input type="text" id="poll-name" placeholder="The Decision Title/Topic" maxlength="55" class="option" required/>
    </div><br>
    <div>
      <div class="subheading">Poll Description</div>

      <input type="text" id="poll-description" placeholder="The Decision Title/Topic" maxlength="255" class="option" required/>
    </div><br>
    <table id="dynamic-options-container">
      <tr>
        <th class="votes-heading">
          <p></p>
          <div class="subheading">Options</div>
        </th>
        <th> </th>
      </tr>
      <tr class="default-row">
        <td class="choice-cell">
          <button type="button" class="remove-button">-</button>
          <input type="text" placeholder="Options" maxlength="55" class="option" required>
        </td>
        <td>
          <input type="text" placeholder="Description" maxlength="125" class="description" required>
        </td>
        <td class="add-row">
          <button type="button" class="add-button">+</button>
        </td>
      </tr>
    </table><br>
    <div id="dynamic-emails-container">
      <label>Voter Emails:</label><br>
      <button type="button" class="add-email-button">+ Add Email</button>

      <div class="email-row default-row">
        <input type="text" placeholder="Email" maxlength="55" class="email" required>
        <button type="button" class="remove-email-button">-</button>
      </div>
    </div><br>
    <div>
      <p>
        <label>Opens at:</label>
      </p>
      <input type="date" id="opens-at-date" required>
      <input type="time" id="opens-at-time" required>
    </div><br>
    <div>
      <p>
        <label>Closes at:</label>
      </p>
      <input type="date" id="closes-at-date" required>
      <input type="time" id="closes-at-time" required>
    </div><br>
    <div class="submit-button">
      <button type="submit">Submit</button>
    </div>
  </form>



  <script>
    const dynamicOptionsContainer = document.getElementById("dynamic-options-container");
    const dynamicEmailsContainer = document.getElementById("dynamic-emails-container");

    dynamicOptionsContainer.addEventListener("click", function (event) {
      if (event.target.classList.contains("remove-button")) {
        removeDynamicRow(event.target.closest("tr"));emails
      }
      if (event.target.classList.contains("add-button")) {
        addDynamicRow();
      }
    });

    dynamicEmailsContainer.addEventListener("click", function (event) {
      if (event.target.classList.contains("remove-email-button")) {
        removeDynamicEmailRow(event.target.closest(".email-row"));
      }
      if (event.target.classList.contains("add-email-button")) {
        addDynamicEmailRow();
      }
    });

    function addDynamicRow() {
      const newRow = document.createElement("tr");
      newRow.innerHTML = `
        <td class="choice-cell">
          <button type="button" class="remove-button">-</button>
          <input type="text" placeholder="Options" maxlength="55" class="option" required>
        </td>
        <td>
          <input type="text" placeholder="Description" maxlength="125" class="description" required>
        </td>
        <td class="add-row">
          <button type="button" class="add-button">+</button>
        </td>
      `;
      dynamicOptionsContainer.appendChild(newRow);
    }

    function removeDynamicRow(row) {
      dynamicOptionsContainer.removeChild(row);
    }

    function addDynamicEmailRow() {
      const newEmailRow = document.createElement("div");
      newEmailRow.classList.add("email-row");
      newEmailRow.innerHTML = `
        <input type="text" placeholder="Email" maxlength="55" class="email" required>
        <button type="button" class="remove-email-button">-</button>
      `;
      dynamicEmailsContainer.insertBefore(newEmailRow, dynamicEmailsContainer.lastChild);
    }

    function removeDynamicEmailRow(emailRow) {
      dynamicEmailsContainer.removeChild(emailRow);
    }

    function validateForm() {
  const requiredFields = document.querySelectorAll("[required]");
  for (const field of requiredFields) {
    if (!field.value.trim()) {
      alert("Please fill out all fields.");
      return false;
    }
  }

  const opensAt = new Date(`${document.getElementById("opens-at-date").value} ${document.getElementById("opens-at-time").value}:00`);
  const closesAt = new Date(`${document.getElementById("closes-at-date").value} ${document.getElementById("closes-at-time").value}:00`);

  if (opensAt >= closesAt) {
    alert("Closes at must be later than Opens at.");
    return false;
  }

  const formData = {
  pollName: document.getElementById("poll-name").value,
  pollDescription: document.getElementById("poll-description").value,
  options: [],
  emails: [],
  opensAt: opensAt.toISOString(),
  closesAt: closesAt.toISOString(),
};

document.querySelectorAll("#dynamic-options-container .option").forEach((option, index) => {
  const description = document.querySelectorAll(".description")[index].value;
  const optionObject = {
    [option.value]: description,
  };
  formData.options.push(optionObject);
});




document.querySelectorAll(".email").forEach(email => formData.emails.push(email.value));

  console.log(formData);

  fetch('/create/generate', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify(formData),
  })
    .then(response => response.json())
    .then(data => {
      console.log('Server response:', data);
      // Check if the data contains pollUuid
      if (data.pollUuid) {
        // Redirect to the results page
        window.location.href = `/results/${data.pollUuid}`;
      } else {
        console.error('Poll UUID not received in the response.');
      }
    })
    .catch(error => console.error('Error:', error));

  return false;
}


  </script>
</body>
</html>
