<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>

  <title>Home of the ...decisionMAKER</title>

</head>

<body>
 	<h1>decisionMAKER</h1>

  <div class="container">
    <div class="block" id="resultsBlock">
      <a href="/results-page" id="resultsLink">Results Page</a>
      <input type="text" id="resultsInput" placeholder="Enter Email/UUID">
    </div>

    <div class="block" id="adminBlock">
      <a href="/admin-page" id="adminLink">Admin Page</a>
      <input type="text" id="adminInput" placeholder="=Enter Email/UUID">
    </div>

    <div class="block" id="createPollBlock">
      <a href="/create-poll" id="createPollLink">Create Poll</a>
    </div>
  </div>
  <br><br>
  <div>
    <label>Sign Up using your email below!</label>
    <input type="text" name="email-registration" placeholder="Enter email here to Sign Up">
    <button type="submit" name="register-email">Sign Up!</button>

</body>
</html>
