<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>decisionMAKER... Registration Page</title>
</head>
<body>
  <header>
    <h1>Login/Register</h1>
  </header>

  <main>
    <form id="registrationForm" method="post" action="/register">
      <label for="firstName">First Name:</label>
      <input type="text" name="firstName" id="firstName" required>
      <p></p>
      <label for="lastName">Last Name:</label>
      <input type="text" name="lastName" id="lastName" required>
      <p></p>
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required>
      <p></p>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required>
      <p></p>
      <button type="submit" id="register">Register</button>
    </form>

    <section id="pollDetails">
      <!-- Dynamic display of poll information - input by the creator of the poll -->
    </section>

    <section>
    </section>

    <section>
    </section>
  </main>
</body>
</html>
