/* layout.css */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgb(51, 99, 111) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
}

header {
  background-color: blue;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

main {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #000000;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

.poll-status-box {
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #333;
  border-radius: 5px;
}

.poll-status-label {
  font-weight: bold;
  margin-right: 10px;
}

.poll-status-true {
  background-color: green;
  color: white;
}

.poll-status-false {
  background-color: red;
  color: white;
}
